html
    head
        link(rel="stylesheet", href="/stylesheets/style.css")
        title this is my first pug html 
    body 
        //- a(href="/contectus") contectus
        ul#topmenue 
            li 
                a(href="/") Home 
            li 
                a(href="/contectus") Contectus
        hr
        block content 

        hr

        block footer