<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="contact-us">contact_us</a></li>
    <li><a href="http://usmanlive.com">usmanlive</a></li>
</ul>
<% console.log("this is from menu") %>